@use '../abstracts/variables';

#fondo {
    background-color: variables.$color0;
}

.titulo {
    color: variables.$color3;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}

.div__pregunta__emociones {
    margin-top: 60px;
}

.emocion {
    width: 150px;
    margin: 20px;
}

.contenedorbtn {
    display: block;
    // width: fit-content;
    margin-top: 80px;
}

._btn {
    display: inline;
    width: fit-content;
    margin-top: 0%;
}

.mancha {
    width: 300px;
    margin-right: 500px;
    position: absolute;
    right: 540px;


}

.btn2 {
    background-color: variables.$color2;
    border: none;
    padding: 7px;
    width: 10%;
    color: variables.$color3;
    font-size: 17px;
    border-radius: 40px;
    margin-left: 1170px;
    margin-top: 170px;
    box-shadow: 3px 3px 3px #a7e799;
}


.parraPre {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.emociones__parrafo1{
    margin-right: 500px;
}

.emociones__parrafo2{
    margin-left: 200px;
}

.emociones__parrafo3{
    margin-left: 400px;
}

.emociones__parrafo4{
    margin-left: 600px;
}

.emociones__parrafo5{
    margin-left: 720px;
}

.emociones__parrafo6{
    margin-left: 780px;
}
.animacion:hover+p {
    opacity: 1;
    margin-top: 20px;
    transition: 1.5s;
    height: 50px;
    overflow: hidden;
    color: variables.$color4;
}



.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}